*{
    margin: 0;
    padding: 0;
}

/*header*/

header div{
    width: 100%;
    background-color: #0a2ff1;
    height: 20px;
}

.noviembre{
    color: #0a2ff1;
    padding: 20px;
    font-size: 50pt;
}

.container{
    text-align: center;
}

.black{
    width: 100%;
    font-size: 148pt;
    background-color: black;
}


h1{
    font-size: 148pt;
    color: #fff;

}